@font-face {
    font-family: "Quantify";
    src: url("/Quantify.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .font-quantify {
    font-family: "Quantify", sans-serif;
  }
  